<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <section class="error404">
        <h2>page not trouvée </h2>
        <p>le produit que vous selectionnez n'existe pas</p>
        <a href="{% url 'index' %}">revenir à l'accueil</a>
    </section>
</body>
</html>